@charset "UTF-8";

:root {
    --bg: #0A0A0A;
    --text:#10B981;
    --accent: #A7F3D0;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background: #10B981;
    background: linear-gradient(70deg, rgba(16, 185, 129, 1) 0%, rgba(10, 10, 10, 1) 100%);
    color: var(--text);
    display: flex;
    flex-direction: column;
    max-width: 650px;
    margin: 0 auto ;
    gap: 5px;
    align-items: center;
    padding: 32px;
    height: 100vh;
    justify-content: center;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

}

.img_profile {
    width: 150px;
    
}

.describe {
    display: flex;
    align-items: center;
    gap: 8px;
}

a {
        color: var(--bg);
        font-weight: bold;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        margin-bottom: 4px;
        padding: 5px 30px;
        background-color: var(--accent);
        width: 200px;
        text-align: center;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover{
            background-color: var(--text);
            color: var(--accent);
        }

}