/* Device Breakpoints
-------------------------------------
Pequenas telas: até 600px
Celular: 375px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 375px) {

    h1 {
    font-family: var(--font-primary);
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background: #10B981;
    background: linear-gradient(70deg, rgba(16, 185, 129, 1) 0%, rgba(10, 10, 10, 1) 100%);
    color: var(--bg);
    display: flex;
    flex-direction: column;
    max-width: 650px;
    margin: 0 auto ;
    gap: 5px;
    align-items: center;
    padding: 32px;
    height: 100vh;
    justify-content: center;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.301);
    padding: 50px;
    border-radius: 30px;
    box-shadow: 2px 1px 1px 1px rgba(255, 255, 255, 0.137);
}

p{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

img {
    width: 25px;
    gap: 10px;
}

.img_profile {
    width: 150px;
    
}

.describe {
    display: flex;
    align-items: center;
    gap: 8px;
}

.text {
    margin: 10px 0;

}


a {
        color: var(--bg);
        font-weight: bold;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        margin-bottom: 4px;
        padding: 5px 30px;
        background-color: var(--accent);
        width: 200px;
        text-align: center;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover{
            background-color: var(--text);
            color: var(--accent);
        }

}

}