@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.7rem;
    }

    p {
        font-size: 1.3rem;
        text-align: center;
    }

    .aprendendo {
        margin-bottom: 20px;
    }

    a {
        font-size: 1.2rem;
    }
}